server {
    listen 80;
    server_name 3.27.125.152;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name 3.27.125.152;

    ssl_certificate /etc/ssl/certs/myserver.crt;
    ssl_certificate_key /etc/ssl/private/myserver.key;

    # Additional SSL settings for better security
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'HIGH:!aNULL:!MD5';
    ssl_prefer_server_ciphers on;

    location / {
        try_files $uri $uri/ =404;
    }
}
